<!DOCTYPE html>
<html>
      <head>
            <title>index page dj4e course</title>
      </head>
      <body>
            <h2> grading part f3e03b54 , 005f441a </h2>

            {% if latest_question_list %}
            <ul>
                  {% for question in latest_question_list %}
                  <li>
                        <a href="{% url 'polls:detail' question.id %}">
                              {{question.question_text}}</a>
                  </li>
                  {% endfor %}
            </ul>
            {% else %}
                  <p>No polls are available.</p>
            {% endif %}

            <p>Do you wanna know the <a href="{% url 'polls:owner' %}">owner</a> of the project?</p>

      </body>
</html>











